@media only screen and (max-width: 740px) {
    :root{
        font-size: 16px;
    }
    body{
        height: 100%;
    }
    main{
        grid-template-columns: 1fr;
    }
    article{
        text-align: center;
        gap:40px;
    }
    button{
        align-self: center;
    }
}

@media only screen and (max-width: 350px) {
    :root{
        font-size: 14px;
    }   
    img{
        width: 200px;
        height: 200px;
    }
}
